/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
	/* position */
    margin: 0;
    
    /* size */
	padding: 0;

	/* text */
	font-size: 100%;
	font: inherit;
	vertical-align: top;
	}

.fht-table {
	/* appearance */
    border-collapse: collapse;
    border-spacing: 0;
	}

/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
	/* appearance */
	overflow: hidden;
	
	/* position */
	position: relative;
	}

	.fht-table-wrapper .fht-fixed-body .fht-tbody,
	.fht-table-wrapper .fht-tbody {
		/* appearance */
	    overflow: auto;
		}

		.fht-table-wrapper .fht-table .fht-cell {
			/* appearance */
			overflow: hidden;
			
			/* size */
		    height: 1px;
			}
	
	.fht-table-wrapper .fht-fixed-column,
	.fht-table-wrapper .fht-fixed-body {
	    /* position */
	    top: 0;
	    left: 0;
	    position: absolute;
	    }
	    
	.fht-table-wrapper .fht-fixed-column {
	    /* position */
	    z-index: 1;
	    }

/* @end */


	

.button:hover {
	/* appearance */
	background-color: #6495ed;
	-webkit-box-shadow: 0 0 3px #6495ed;
	-moz-box-shadow: 0 0 3px #6495ed;
	box-shadow: 0 0 3px #6495ed;
	}

.myTableWrapper {
	width: 800px;
	height: 500px;
	}

.height250 {
        height: 250px;
        overflow-x: auto;
        overflow-y: auto;
}

.height400 {
        height: 400px;
        overflow-x: auto;
        overflow-y: auto;
}
	

/* Fancy Dark Table */	
.fancyDarkTable .numeric {
	/* text */
	text-align: right;
	}

.fancyDarkTable td, .fancyDarkTable th {
	border: 1px solid #000000;
	padding: 5px;
}

.fancyDarkTable thead tr th {
	padding: 10px 5px 10px 5px;
	}

.fancyDarkTable {
	}

.fancyDarkTable tbody tr td {
	}

.fancyDarkTable tbody tr.odd td {
	}
.fht-thead .fht-table tr{
            background: #fbfdfe;
        }
        .fht-fixed-column .fht-tbody{
            background: #fbfdfe;
        }	
.fancyDarkTable .fht-head {
	-webkit-box-shadow: 0 5px 10px #000;
	z-index: 1;
	position: relative;
	}
        .fht-table-wrapper{
            border: 1px solid #c1c1c1;  
        }
        .fancyTable tr{
            /*border:1px solid #dddedf;*/
        }
        .fancyTable tr td:first-child{
            font-weight: bold;
            color:#4e545e;
            padding: 10px;
            text-align: left;
            min-width:200px;
            max-width: 200px !important;
                
        }
        .fht-fixed-column .fancyTable  tr:first-child  td:first-child{
            /*height:64.5px !important;*/
        }
        .fancyTable.fht-table.fht-table-init{
            margin-top: -61px !important;
            width:100% !important;
        }
        .fancyTable tr td:first-child span.person-name{
            white-space: nowrap;
            display: inline-block;
            width: calc(100% - 45px );
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
        .fancyTable tr td:first-child span.person-name > span {
            display: block;
            font-size: 14px;
            font-weight: normal;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            color:#8e8c8c;

        }
        th.attendance-heading.set-padding {
           padding: 20px 0 0 0;
        }
        
         span.person-detail{
            display: none;
            background: #fff;
            position: absolute;
            top: 0;
            left: 59px;
            padding: 20px;
            border: 1px solid #ccc;
            z-index: 5;
        }
        .fancyTable tr td:hover .person-detail{ 
            display: block;
        }

        .fht-table tbody tr{
            border:1px solid #dddedf;
        }
        .fht-tbody{
            margin-top: 0 !important;
        }
        .fht-table td{
            vertical-align: middle;
            text-align: center;
            border:1px solid #d5d8da;
/*            max-width: 100px !important;
            width: 100px !important;*/
        }
        .fht-table.fancyTable{
            width: 100%;
            margin-top:-1px;
        }
        .fancyTable thead tr{
/*            border-bottom: 1px solid #446cb3;*/
        }
        .fht-fixed-body{
            width:100% !important;
        }
        .fht-fixed-column .fht-tbody , .fht-fixed-column .fht-thead{
            min-width:200px;
            height:auto !important;
        }
        .fht-table.fancyTable .attendance-heading:first-child{
            text-align: left;
            border-right: 1px solid #c1c1c1;
            background-clip: padding-box;
        }
        .fht-table.fancyTable .attendance-heading:first-child span{
            position: absolute;
            top: 18px;
            left: 20px;
        }
        fht-table-wrapper .fht-fixed-body .fht-tbody, .fht-table-wrapper .fht-tbody{
              border-top: 1px solid #c1c1c1;
        }
        