@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-atachment:before {
  content: "\62";
}
.icon-books:before {
  content: "\63";
}
.icon-calender:before {
  content: "\64";
}
.icon-camera:before {
  content: "\65";
}
.icon-clock:before {
  content: "\66";
}
.icon-document:before {
  content: "\67";
}
.icon-download:before {
  content: "\68";
}
.icon-groups:before {
  content: "\69";
}
.icon-home:before {
  content: "\6a";
}
.icon-invite-member:before {
  content: "\6b";
}
.icon-location:before {
  content: "\6c";
}
.icon-message:before {
  content: "\6d";
}
.icon-trash:before {
  content: "\6e";
}
.icon-setings:before {
  content: "\6f";
}
.icon-rotate-clockwise:before {
  content: "\70";
}
.icon-rotate-anti-clockwise:before {
  content: "\71";
}
.icon-profile:before {
  content: "\72";
}
.icon-notification:before {
  content: "\73";
}
