@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
/*utility styles*/
body{
    background: #66676b;
    color:#fff;
    background: #fbfbfb;
    color:#424346;
    font-family: 'Roboto', sans-serif;
    overflow-y:scroll;
    overflow-x: hidden;
}
.display-ib{
    display: inline-block;
}
.no-padding{
    padding:0;
}
.form-padding-left{
    padding:0 0 0 15px ;
}
.padding-10{
    padding:10px;
}

.hasError{
    border:1px solid red;
}
h1{
    font-size: 24px;
   
}
h2{
    font-size: 20px;
   
}
h3{
    font-size: 18px;
   
}
.divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
.font-w-100{
    font-weight: 100 !important;
}
.font-w-400{
    font-weight: 400 !important;
}
.no-margin{
    margin:0 !important;
}
a{
     color: #3595ce;
}
a:hover, a:focus{
     color: #3595ce;
}
.v-align{
    vertical-align: middle;
}
.ck-error{
    color:red;
}
.btn-min-width{
    min-width: 70px;
}
.ck-bg-danger{
    background: #ec201c;
}
.ck-bg-success{
    background: #3db33f;
}
.pos-relative{
    position: relative;
}
.file {
  visibility: hidden;
  position: absolute;
}
.back-arrow{
    font-size: 14px;
    color: #31708f;
}
.loader-wrapper{
    height: 100%;
    width: calc(100% - 2px);
    position: absolute;
    background: rgba(255, 255, 255, 0.88);
    z-index: 5;
    left: 1px;
    text-align: center;
    padding: 5%;
}
.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}
@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}