
.form-errors{
   position: fixed;
   top:0;
   right:0;
}
.form-error{
    background: #fff;
    color:#000;
    padding:10px;
}

.add-top-margin{
    margin-top:50px;
}
.page_content{
    margin-top:10px;
}
thead th{
    cursor: pointer;
    background:#eee;
}
/*highlight text*/
mark, .mark{
 background: #ff0 none repeat scroll 0 0 ;
 padding: 0 ;

}
/*toast message styles*/
.toast_message{
    border:1px solid #eee;
    background:#ccc;
    position:fixed;
    top:10px;
    right:10px;
    padding:20px;
    border-radius:2px;
    display:none;
    z-index: 5;
}
.toast_message.success{
    background:#fff;
    color:#428bca;
}
.content-wrapper{
    padding: 10px;
    background: #fff;
    border: 1px solid #eee;
}
.select-campus{
    padding: 10px;
    background: #fff;
    border: 1px solid #eee;
    margin-top:10px;
}
.main-wrapper{
    position: relative;
    min-height: 100vh;
    overflow: auto;
}
/*login-form sectin styles*/
.ck-admin_login-form{
 width: 35%;
 background: #f3f7fb;
 border-radius: 0px;
 margin: 11% auto 18% auto;
 display: block;
 padding: 20px;
 box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.64);   
}
.ck-btn_submit{
    width: 200px;
    padding: 9px;
    background: #337ab7;
    border-radius: 0;
    border: none;
}
/* heder styles*/
header{
  background: #263b5a;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.campus-header-name{
    background: #e5e5e5;
}
.logo{
    max-width: 100%;
}
.profile-img{
    height: 30px;
    width:30px;
    display: none;
    background: #ccc;
    border-radius: 50%;
}
.profile-info{
    display: table;
    margin-top:12px ;
    color: #d4f0ff;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
}

.admin-header{
    padding: 5px 0;
}
.admin-footer{
    background: #eee;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
}
.profile-info .dropdown-menu{
    background: #263b5a;
}
.profile-info .dropdown-menu>li>a{
    color:#fff;
}
.profile-info .dropdown-menu>li>a:focus, .profile-info .dropdown-menu>li>a:hover{
    color: #d9edf7;
    background: transparent;
}
/* left-sidebar styles*/
.navigation_bar{
    list-style: none;
    margin: 0;
    padding:0;
    background: #383c48;
    background: #19283F;
    height: 100vh;
    position: fixed;
    padding:0 5px;
    min-width: 100px;
    text-align: center;
}
.navigation_bar a{
    padding: 10px;
    color: #ccc;
    text-align: left;
    font-size: 14px;
    display: block;
}
.navigation_bar a:hover{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.navigation_bar a.router-link-active{
    background: #66676b;
    color: #ffffff;
    border-right: 1px solid #535661;
}

/* main-content-styles styles*/
.page_title h3{
    padding:10px 0;
}
.pagination{
    margin:10px 0;
}
.pagination-sm li a{
    background: rgba(255, 255, 255, 0.27);
    color:#fff;
}
.table_info{
    float: left;
}
.table_paginate{
    float: right;
}
.sorting {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}
.sorting_asc::after{
    content:"\e093";
}
.sorting_desc::after{
    content:"\e094";    
}
.add-small-btn{
    margin-left: 10px;
}
.add-small-bg form, .add-small-bg .set-bg{
    background: #eee;
    padding:10px;
}
.light-gray-wrapper{
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;

}
.campus-btns {
    display: block;
    margin: 0 auto;
    clear: both;
    text-align: center;
    /* margin: 10px 0; */
    padding: 10px 0;
}
.extension-info{
    padding: 5px 35px 5px 5px;
}
.footer-container {
    background: #2d3338;
    color: #aeaeae;
    padding: 10px 0;
    position: absolute;
    width:100%;
    bottom:0;
}
.footer-container a {
    color: #aeaeae;
    display: inline-block;
    margin: 0 5px;
    font-weight: 400;
}
.footer-container ul {
    display: inline;
    float: right;
    margin: 0;
}
.footer-container ul li {
    display: inline-block;
    text-align: center;
}


/*dashboard */
.info-box{
    background: #f0f6fa;
    padding: 10px;
    border-right: 1px solid #e3ecf3;
    transition: all 0.5s ease;

}
.info-box:hover{
    box-shadow: 1px 2px 5px #ccc;
}
.lg-text{
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 100;
    color: #337ab7;
}
.sml-text{
    color: #777;
    font-weight: 400;
}

.mandatory::after {
    color: #dd4b39;
    content: " *";
}
.toast-wrapper {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
    right: 0;
    top: 0;
    width: 100%;
}
.toast-wrapper > div{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#toast-container{
    display: none;
}
.toast-message {
    overflow-wrap: break-word;
    color:#fff;
}
.browse-file{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

.stack-content {
    background-color: #f6f6f6;
    border-top: 1px solid #d1d1d1;
    color: #ae0e0e;
    font-family: consolas,sans-serif;
    font-size: 12px;
    padding: 8px;
}

.badge.level-error, .level.level-error, .info-box.level-error {
    background-color: #ff5722;
    color: #fff;
}

.level {
    border-radius: 2px;
    /*font-size: 0.9em;*/
    /*font-weight: 600;*/
    padding: 2px 6px;
}
.ck-tab-panel{
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.table-processing{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    font-size: 1.2em;
    height: 40px;
    left: 50%;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.list-group-item{
    display: table-cell;
}

span.level {
    margin-right: 28px;
    margin-right: 30px;
}
.glyphicon-menu-left:before{
    vertical-align: middle;
}
/*
.user-list .single-user-data li:last-child{
    border:none;
}
.single-user-data{
   margin: 0;
   border: 1px solid;
   border-top: none;
   border-color: #ccc;
}
.user-list .single-user-data li{
    display: inline-block;
    list-style: none;
    min-width: 100px;
    border-right: 1px solid rgba(238, 238, 238, 0.52);
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-list{
    border-bottom: 1px solid #ccc;
    margin-top:10px;
}
.user-list, .user-list ul{
    padding:0;
}
.user-list li{
    display: block;
    list-style: none;

}
.sort-desc .dsc{
    opacity: 0.5;
    cursor: pointer;
}
.sort-asc .asc{
    opacity: 0.5;
    cursor: pointer;
}
.list-item {
  display: block;
  border:1px solid #ccc;
  border-bottom: none;
}
.user-options{
    right: 0px;
    left: inherit;
    border-radius: 0;
    background: #383c48;
    border: 0;    
}

.user-options li a{
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 10px;
    color: #eee;
    margin: 0;
}
.user-options a:hover{
    text-decoration: none;
}
.ck-admin_reset-form{
    width:35%;
    margin: 0 auto;
    text-align: center;
}
.ck-admin_reset-form h2{
    font-weight: 400;
    padding: 0 0 20px 0;
}
.user-actions, .user-actions a{
    color: #337ab7;
    font-size: 12px;
}
.user-actions a {
    border-right: 1px solid #337ab7;
    height: 1px;
    padding-right: 5px;
}

.user-actions a:last-child {
    border-right: medium none;
}
.list{   
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.list > li{
    background: #f4f4f4 none repeat scroll 0 0;
    border-left: 2px solid #e6e7e8;
    border-radius: 2px;
    color: #444;
    margin-bottom: 2px;
    padding: 10px;
}
*/