<template>
    <div class="container">
        test
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted chnaged.')
        }
    }
</script>
