<template>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding banner-img">
        <div class="banner-overlay"></div>
        <div class="slide-content">
            <h1>
                <div>Test</div>
                <span>anytime</span>
                <span>anywhere</span>
            </h1>
            <a href="" class="btn orange-btn">sign_up</a>
            <span class="btn blue-btn " data-toggle="modal" data-target="#vdo_tour">
                take_a_tour</span>
        </div>
        <div class="browser-compatible">
            compatible_browser
            <span class="pos-relative browser-img">
                <img class="" src="assets/web/img/browser-edge.png" alt="edge"/>
                <span class="browser-name">edge</span>
            </span>
            <span class="pos-relative browser-img">
                <img class="" src="assets/web/img/browser-mozila.png" alt="mozila"/>
                <span class="browser-name">mozila</span>
            </span>
            <span class="pos-relative browser-img">
                <img class="" src="assets/web/img/browser-chrome.png" alt="chrome"/>
                <span class="browser-name">chrome</span>
            </span>
            <span class="pos-relative browser-img">
                <img class="" src="assets/web/img/browser-safari.png" alt="safari"/>
                <span class="browser-name">safari</span>
            </span>
        </div>
    </div>
    <div class="ck-features">
        <span class="ck-feature-list-wrapper">
            <ul class="ck-feature-list">
                <li class="groups active">
                    feeds
                    <div>feeds_text</div>
                    <div class="sml-tagline-show">feeds_text</div>
                </li>
                <li class="groups">
                    groups
                    <div>groups_text</div>
                    <div class="sml-tagline-show">groups_text</div>
                </li>
                <li>
                    planner
                    <div>planner_text</div>
                    <div class="sml-tagline-show">planner_text</div>
                </li>
                <li>
                    docs
                    <div>docs_text</div>
                    <div class="sml-tagline-show">docs_text</div>
                </li>
                <li>
                    attendance
                    <div>attendance_text</div>
                    <div class="sml-tagline-show">attendance_text</div>
                </li>
            </ul>
        </span>
        <span class="ck-feature-image-wrapper">
            <div class="ck-feature-image-container">
                <div class="image-container-header">
                    <span class="sml-oval"></span>
                    <span class="sml-oval"></span>
                    <span class="sml-oval"></span>
                </div>
                <div class="ck-image">
                    <img class="ck-feature" src="assets/web/img/ck-feeds-image.png" alt="feeds"/>
                    <img class="ck-feature" src="assets/web/img/ck-groups_image.png" alt="groups"/>
                    <img class="ck-feature" src="assets/web/img/ck-planner_image.png" alt="planner"/>
                    <img class="ck-feature" src="assets/web/img/ck-docs-image.png" alt="docs"/>
                    <img class="ck-feature" src="assets/web/img/ck-attendance-image.png" alt="attendance"/>
                </div>
            </div>
        </span>
    </div>
    <div class="Col-lg-12 col-md-12 col-sm-12 col-xs-12  ck-testimonial">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 testimonial-text">
            <div class="testimonial-text-wrapper pull-right">
                <img class="quotes-image" src="assets/web/img/quotes.png" alt=""/>
                <div class="quotes-text">testimonial_text</div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 testimonial-video">
            <iframe width="660" height="350" src="https://www.youtube.com/embed/E5nJJs3UHtI?rel=0" frameborder="0" 	allowfullscreen></iframe>
        </div>
    </div>
    <div class="media-coverage Col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>media_coverage<span class="underline"></span></h1>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 text-center lg-media" >
            <ul class="top-grid top-grid-styles">
                <li>
                    <div class="padding-top-10">
                        <a href="http://www.clarionledger.com/story/money/business/2015/07/29/msu-students-score-tech-startup/30832111/" target="_blank"><img class="active" src="assets/web/img/clarion-act.png" alt=""/></a>
                    </div>
                </li>
                <li class="mid-cell">
                    <a href="https://www.entrepreneur.com/article/249087" target="_blank"><img class="active" src="assets/web/img/entrepreneur-act.png" alt=""/></a>
                </li>
                <li>
                    <a href="http://www.reflector-online.com/news/article_a6010cc0-559b-11e4-ae46-001a4bcf6878.html" target="_blank"><img class="active" src="assets/web/img/reflector-act.png" alt=""/></a>
                </li>
            </ul>
            <ul class="top-grid">
                <li>
                    <a href="https://yourstory.com/2015/08/startup-indian-students/"  target="_blank"><img class="active" src="assets/web/img/your-story-act.png" alt=""/></a>
                </li>
                <li class="mid-cell">
                    <a href="http://www.dnaindia.com/india/report-indian-trio-s-social-media-start-up-for-campuses-bags-100000-funding-in-us-2111427" target="_blank"><img class="active" src="assets/web/img/dna.png" alt=""/></a>
                </li>
                <li>
                    <a href="http://www.iamwire.com/2015/07/edu-tech-startup-campusknot-raises-100000/120427" target="_blank"><img class="active" src="assets/web/img/iamwire-act.png" alt=""/></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  sml-media">
            <ul>
                <li>
                    <div class="padding-10">
                        <a href="http://www.clarionledger.com/story/money/business/2015/07/29/msu-students-score-tech-startup/30832111/" target="_blank"><img class="active" src="assets/web/img/clarion-act.png" alt=""/></a>
                    </div>
                </li>
                <li class="mid-cell">
                    <a href="https://www.entrepreneur.com/article/249087" target="_blank"><img class="active" src="assets/web/img/entrepreneur-act.png" alt=""/></a>
                </li>
                <li>
                    <a href="http://www.reflector-online.com/news/article_a6010cc0-559b-11e4-ae46-001a4bcf6878.html" target="_blank"><img class="active" src="assets/web/img/reflector-act.png" alt=""/></a>
                </li>
                <li>
                    <a href="https://yourstory.com/2015/08/startup-indian-students/" target="_blank"><img class="active" src="assets/web/img/your-story-act.png" alt=""/></a>
                </li>
                <li class="mid-cell">
                    <a href="http://www.dnaindia.com/india/report-indian-trio-s-social-media-start-up-for-campuses-bags-100000-funding-in-us-2111427" target="_blank"><img class="active" src="assets/web/img/dna.png" alt=""/></a>
                </li>
                <li>
                    <a href="http://www.iamwire.com/2015/07/edu-tech-startup-campusknot-raises-100000/120427" target="_blank"><img class="active" src="assets/web/img/iamwire-act.png" alt=""/></a>
                </li>                   
            </ul>
        </div>
    </div>
    <div class="contact-form Col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="Col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-2">
            <h1>contact_us</h1>
            <form id="contact" name="contact" method="post" role="form">

                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12  field-padding-right">
                    <input id="form_name" type="text" 
                           name="name" class="form-control" 
                           title=""  data-toggle="tooltip" data-placement="top" 
                           placeholder="first_name"  required="required" value="">

                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
                    <input id="form_lastname" type="text" name="surname" 
                           class="form-control" title=""  data-toggle="tooltip" 
                           data-placement="top"  placeholder="last_name *" 
                           required="required" data-error="Lastname is required." value="">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input id="form_email" type="email" name="email" 
                           class="form-control" title=""  data-toggle="tooltip" data-placement="top" 
                           placeholder="email *" required="required" 
                           data-error="Valid email is required." value="">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group contact-cat">
                    <span class="caret"></span>
                    <select class="form-control" name="contact_type">
                        <option value="feedback">feedback</option>
                        <option value="business_licensing">business_licensing</option>
                        <option value="press">press</option>
                        <option value="technical_support">technical_support</option>

                    </select>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <input id="form_phone" type="tel" name="phone" 
                           class="form-control" title=""  data-toggle="tooltip" data-placement="top"
                           placeholder="phone_number" value="">
                    <div class="help-block with-errors"></div>
                </div>
                <div    class="form-group">
                    <textarea id="form_message" name="message" class="form-control" 
                              title=""  data-toggle="tooltip" data-placement="top" 
                              placeholder="message_placeholder *" rows="4" required="required" 
                              data-error="Please,leave us a message." ></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <button class="login-btn contact-btn" id="load" data-loading-text="<div class='spinner'><div class='bounce1'></div><div class='bounce2'></div><div class='bounce3'></div></div>">send_message</button>


            </form>
        </div>   
    </div>  
</div>




  


</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted chnaged.')
        }
    }
</script>
