<template>
    
<div class="container-fluid banner-img">
    <div class="banner-overlay">
    </div>
    <div class= "col-lg-8 col-sm-8 col-md-9 col-xs-9 main-form">
        <div class= "col-lg-6 col-sm-6 col-md-6 col-xs-6 logo-section">
            <div class="ck-logo">
                <img src="assets/web/img/main_header_logo.png" alt=""/>
                <h2>login_page_title </h2>
            </diV>
        </div>

        <div class= "col-lg-6 col-sm-6 col-md-6 col-xs-6 login-form-section">
            <div class="form-errors" v-if="formErrors">
                <span v-for="(value, index) in formErrors" class="form-error">
                    <span v-if="typeof value !== 'string'">
                        <div v-for="check in value">
                            {{check}}
                        </div>
                    </span>
                    <span v-else>{{ value }}</span>
                </span>
            </div>
            <form id="login-form" v-on:submit.prevent="doChangePassword" >
                <div class="form-group">
                    <input type="text" id="email" title="" v-model="login.email" class="form-control" 
                           name="email" value=""  data-toggle="tooltip" data-placement="top"
                           placeholder="xyz@university.edu" autofocus="autofocus" v-bind:class="[{ hasError: formErrors.email }]" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" v-model="login.password"
                           class="form-control" name="password" value=""  
                           data-toggle="tooltip" data-placement="top" placeholder="password" v-bind:class="[{ hasError: formErrors.password}]"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="login" class="login-btn">
                </div>
                <span><a href="" class="frgt-pwd">forgot_password</a></span>
                <span class="pull-right"><a href="">sign_up_free</a></span>
            </form>
        </div>
    </div>
</div>




</template>

<script>
    export default {
        data() {
            return {
                login : {'email':'','password':''},
                formErrors:{},
                isActive:true
            }
        },
        methods: {
            doChangePassword: function(){
                        
                        var input = this.login;
                        this.$http.post('login',input).then((response) => {
                            window.location.href = '/';
                        }, (response) => {
                                    this.formErrors = response.data;
                                    console.log( this.formErrors);
                            },
                        );
            },
        },
    };
</script>
